body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.loading{
  display: flex; 
  justify-content: center;
  align-items: center;
}
.info {
    background:rgb(0, 188, 212);
    height: 150px;
    line-height: 150px;
    text-align: center;
    color: #fff;
    font-size: 25px;
}
.about{
    text-align: center;
    padding: 50px 15px;
    font-size: 26px;
    border-bottom: 1px solid rgb(224, 224, 224);
}
.about .sub-title{
    font-size: 16px;
    color: #999;
    margin: 0;
}